
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../../template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">    
        <p:panel header="User Account">
            <p:panelGrid columns="1" layout="grid">
                <h:form id="formuser">
                    <p:dataTable id="tableuser" value="#{userAccountBean.listuser}" var="item">           
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Username"/>
                            </f:facet>
                            <h:outputText value="#{item.username}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Usercode"/>
                            </f:facet>
                            <h:outputText value="#{item.usercode}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Fullname"/>
                            </f:facet>
                            <h:outputText value="#{item.fullname}"/>
                        </p:column>   
                        <p:column>                            
                            <p:commandButton icon="ui-icon ui-icon-pencil" title="#{msgs['af.btnEdit']} #{item.username}" actionListener="#{userAccountBean.edit(item)}" update="@form :forminput"/>
                            <p:commandButton icon="ui-icon ui-icon-trash" title="Delete #{item.username}" actionListener="#{userAccountBean.delete(item)}" update="@form" />                            
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:panelGrid>

            <p:panelGrid columns="2" layout="grid" >
                <h:form id="forminput">
                    <p:outputLabel value="Nama" style="width: 40%"/>                    
                    <p:inputText value="#{userAccountBean.user.fullname}" style="width: 60%"/>

                    <p:outputLabel value="UserCode " style="width: 40%"/>                    
                    <p:inputText value="#{userAccountBean.user.usercode}" style="width: 60%"/>

                    <p:outputLabel value="Username " style="width: 40%"/>                    
                    <p:inputText value="#{userAccountBean.user.username}" style="width: 60%"/>                                        

                    <p:outputLabel value="Password " style="width: 40%"/>   
                    <p:password id="idpass"  value="#{userAccountBean.user.password}" redisplay="true" maxlength="100" style="width: 60%">                        
                        <pe:keyFilter for="idpass"  mask="alphanum"/>                          
                    </p:password>                   
<!--                     <p:inputText value="#{userAccountBean.user.password}" style="width: 60%"/>   -->
                    <p:outputLabel for="userrole" value="User Role"  style="width: 40%"/>
                    <p:selectCheckboxMenu id="userrole" value="#{userAccountBean.selectedOption}" label="Role" 
                                           style="width: 60%">
                        <f:selectItems  value="#{userAccountBean.listrole}" var="list" itemValue="#{list.roleId}" itemLabel="#{list.roleName}" />
                    </p:selectCheckboxMenu>

                    <p:outputLabel value="" style="width: 40%"/>  
                    <h:commandButton class="btn btn-primary" value="Simpan"  action="#{userAccountBean.simpanUser}" style="width: 60%"/>
                </h:form>
            </p:panelGrid>
        </p:panel>
    </ui:define>

</ui:composition>


