
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../../template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">    
        <p:panel header="User ROLE" style="width: 100%">            
            <h:form id="formrole">
                <p:growl/>
                <p:dataTable id="tablerole" value="#{userRoleBean.listrole}" var="item">           
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Username"/>
                        </f:facet>
                        <h:outputText value="#{item.roleName}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Usercode"/>
                        </f:facet>
                        <h:outputText value="#{item.roleCode}"/>
                    </p:column>            
                    <p:column>                            
                        <p:commandButton icon="ui-icon ui-icon-pencil" title="#{msgs['af.btnEdit']} #{item.roleName}" actionListener="#{userRoleBean.edit(item)}" update="@form :forminput"/>
                        <p:commandButton icon="ui-icon ui-icon-trash" title="Delete #{item.roleName}" actionListener="#{userRoleBean.delete(item)}" update="@form" />                            
                    </p:column>
                </p:dataTable>
            </h:form>
            <h:form id="forminput">
                <p:panelGrid columns="2" layout="grid" style="width: 100%">   
                    <p:fieldset  legend="Input Role">
                        <h:panelGroup style="width: 60%" >
                                <p:outputLabel value="Role Name " style="width: 40%"/>                    
                                <p:inputText value="#{userRoleBean.role.roleName}" style="width: 60%"/>

                                <p:outputLabel value="User Code " style="width: 40%"/>                    
                                <p:inputText value="#{userRoleBean.role.roleCode}" style="width: 60%"/>

                                <p:outputLabel value="" style="width: 40%"/>  
                                <h:commandButton class="btn btn-primary" value="Simpan"  action="#{userRoleBean.simpan}" style="width: 60%">
                                    <p:ajax update="@form :formrole" process="@form"/>
                                </h:commandButton>                            
                        </h:panelGroup>
                    </p:fieldset>
                    <h:panelGroup  style="width: 40%">
                            <p:fieldset legend="Permission Menu">
                                <p:tree value="#{userRoleBean.permissionUserRootMenuTree}" 
                                        var="menutree" 
                                        selectionMode="checkbox"
                                        animate="true"
                                        selection="#{userRoleBean.selectedPermissionUserMenu}" id="treeUserMenuAccess" style="width: 100%;">
                                   
                                    <p:treeNode>
                                        <h:outputText value="#{menutree.menuname}"/>
                                    </p:treeNode>                                    
                                </p:tree>
                            </p:fieldset>
                    </h:panelGroup>
                </p:panelGrid>
            </h:form>
        </p:panel>
    </ui:define>

</ui:composition>


