<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:repeat value="#{loginBean.listMenu}" var="lev0">
        <li class="menu-list">
            <a href="#{root}#{lev0.alias}">#{lev0.menuname}</a>
            <i class="lnr lnr-indent-increase"></i> 
            <span>#{lev0.menuname}</span></a>  
            <h:panelGroup rendered="#{lev0.link=='#' or lev0.link.trim().equalsIgnoreCase('')}">
                <ul class="sub-menu-list">
                    <ui:repeat value="#{lev0.listMenu}" var="lev1">  
                        <li>
                            <a href="#{root}#{lev1.alias}">#{lev1.menuname}</a>
                            <h:panelGroup rendered="#{lev1.link=='#' or lev1.link.trim().equalsIgnoreCase('')}">
                                <ul class="sub-menu-list">
                                    <ui:repeat value="#{lev1.listMenu}" var="lev2">  
                                        <li>
                                            <a href="#{root}#{lev2.alias}">#{lev2.menuname}</a>
                                        </li>        
                                    </ui:repeat> 
                                </ul>
                            </h:panelGroup>
                        </li>        
                    </ui:repeat> 
                </ul>
            </h:panelGroup>
        </li>        
    </ui:repeat>

</ui:composition>

