
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./../../template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">    
      CUSTOMER CREATE
    </ui:define>

</ui:composition>


