<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form>
            
            <p:outputLabel value="DASBOARD"/>  
        </h:form>
<!--        <h:form>
            <p:stack icon="/resources/demo/images/dock/stack.png" expanded="true">
                <p:menuitem value="Home" icon="/resources/demo/images/dock/home.png" url="#"/>
                <p:menuitem value="Music" icon="/resources/demo/images/dock/music.png" url="#"/>
                <p:menuitem value="Video" icon="/resources/demo/images/dock/video.png" url="#"/>
                <p:menuitem value="Email" icon="/resources/demo/images/dock/email.png" url="#"/>
                <p:menuitem value="Portfolio" icon="/resources/demo/images/dock/portfolio.png" url="#"/>
            </p:stack>
        </h:form>-->
    </ui:define>

</ui:composition>