<?xml version='1.0' encoding='UTF-8' ?>

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<xhtml xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Sign In :: w3layouts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Bootstrap Core CSS -->
        <h:outputStylesheet name="bootstrap.min.css" library="css"/>
        <!--            <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />-->
        <!-- Custom CSS -->
        <h:outputStylesheet name="style.css" library="css"/>
        <!--            <link href="css/style.css" rel='stylesheet' type='text/css' />-->
        <!-- Graph CSS -->
        <h:outputStylesheet name="font-awesome.css" library="css"/>
        <!--            <link href="css/font-awesome.css" rel="stylesheet"> -->
        <!-- jQuery -->
        <!-- lined-icons -->
        <h:outputStylesheet name="icon-font.min.css" library="css"/>
        <!--                <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />-->
        <!-- //lined-icons -->
        <!-- chart -->
        <h:outputScript name="Chart.js" library="js"/>
        <!--                <script src="js/Chart.js"></script>-->
        <!-- //chart -->
        <!--animate-->
        <h:outputStylesheet name="animate.css" library="css"/>
        <!--                <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">-->
        <h:outputScript name="wow.min.js" library="js"/>
        <!--                    <script src="js/wow.min.js"></script>-->
        <script>
            new WOW().init();
        </script>
        <!--//end-animate-->
        <!--webfonts-->
<!--        <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'/>-->
        <!--//webfonts--> 
        <!-- Meters graphs -->
<!--        <h:outputScript name="jquery-1.10.2.min.js" library="js"/>-->
        <!--                        <script src="js/jquery-1.10.2.min.js"></script>-->
        <!-- Placed js at the end of the document so the pages load faster -->

    </h:head> 

    <h:body class="sign-in-up">
        <section>
            <div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">
                    <div class="sign-in-form">
                        <div class="sign-in-form-top">
                            <p><span>Sign In to</span> <a href="index.html">Admin</a></p>
                        </div>
                        <div class="signin">
                            <div class="signin-rit">
                                <span class="checkbox1">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""/>Forgot Password ?</label>
                                </span>
                                <p><a href="#">Click Here</a> </p>
                                <div class="clearfix"> </div>
                            </div>
                            
                            <h:form>
                                <p:growl  id="growl" />
                                <div class="log-input">
                                    <div class="log-input-left">
                                        <h:inputText class="user" value="#{loginBean.username}" id="user" title="Username" label="Username"  >
                                            <p:ajax process="@this"/>
                                        </h:inputText>
                                        <p:watermark for="user" value="Username" id="watermarkUser"/>                                                                                
                                    </div>
                                    <span class="checkbox2">
                                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""/><i> </i></label>
                                    </span>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="log-input">
                                    <div class="log-input-left">
                                        <h:inputSecret value="#{loginBean.password}"  maxlength="5" class="lock" id="pass" title="Password" label="Password" >
                                            <p:ajax process="@this"/>
                                        </h:inputSecret>
                                        <p:watermark for="pass" value="Password" id="watermarkPass"/>                                  
                                    </div>
                                    <span class="checkbox2">
                                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""/><i> </i></label>
                                    </span>
                                    <div class="clearfix"> </div>
                                </div>                               
                                <h:commandButton value="MASUK" action="#{loginBean.doLogin()}" class="btn btn-primary">
                                    <p:ajax  update="@form growl"/>
                                </h:commandButton>
                            </h:form>	 
                        </div>
                        <!--                                            <div class="new_people">
                                                                        <h4>For New People</h4>
                                                                        <p>Having hands on experience in creating innovative designs,I do offer design 
                                                                            solutions which harness.</p>
                                                                        <a href="sign-up.html">Register Now!</a>
                                                                    </div>-->
                    </div>
                </div>
            </div>
            <!--footer section start-->
            <footer>
                <p>copy 2015 Easy Admin Panel. All Rights Reserved | Design by</p>
            </footer>
            <!--footer section end-->
        </section>

        <h:outputScript name="jquery.nicescroll.js" library="js"/>
        <h:outputScript name="scripts.js" library="js"/>
        <h:outputScript name="bootstrap.min.js" library="js"/>
        <!--                            <script src="js/jquery.nicescroll.js"></script>
                                    <script src="js/scripts.js"></script>
                                     Bootstrap Core JavaScript 
                                    <script src="js/bootstrap.min.js"></script>-->
    </h:body>
</xhtml>

