<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >

    <ui:define name="contentTitle">

    </ui:define>

    <ui:define name="content">
        <p:panel header="Akses Halaman Ditolak">  
            <div class="row">
                <div class="span1">
                    <h:graphicImage value="/resources/images/error.png" height="32" style=""/>
                </div>
                <div class="span11" style="margin-left: 0">
                    <h:outputText style="font-size: small" value="Anda tidak berhak untuk mengakses halaman #{param['page']}. Jika ini adalah sebuah kesalahan, harap hubungi administrator."/>           
                </div>
            </div>


        </p:panel>

    </ui:define>
</ui:composition>
