<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <div class="left-side-inner">

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="index.html"><i class="lnr lnr-power-switch"></i><span>Dashboard</span></a></li>
            <li class="menu-list">
                <a href="#"><i class="lnr lnr-cog"></i>
                    <span>Components</span></a>
                <ul class="sub-menu-list">
                    <li><a href="grids.html">Grids</a> </li>
                    <li><a href="widgets.html">Widgets</a></li>
                </ul>
            </li>
            <li><a href="forms.html"><i class="lnr lnr-spell-check"></i> <span>Forms</span></a></li>
            <li><a href="tables.html"><i class="lnr lnr-menu"></i> <span>Tables</span></a></li>              
            <li class="menu-list"><a href="#"><i class="lnr lnr-envelope"></i> <span>MailBox</span></a>
                <ul class="sub-menu-list">
                    <li><a href="inbox.html">Inbox</a> </li>
                    <li><a href="compose-mail.html">Compose Mail</a></li>
                </ul>
            </li>      
            <!--                        <li class="menu-list">
                                        <a href="#"><i class="lnr lnr-indent-increase"></i> 
                                            <span>Menu Levels</span></a>  
                                        <ul class="sub-menu-list">
                                            <li class="menu-list">
                                                <a href="#">
                                                    <i class="lnr lnr-indent-increase"></i> 
                                                    <span>Menu SUB Levels</span></a>  
                                                <ul class="sub-menu-list" >
                                                    <li>
                                                        <a href="charts.html">Lagi Charts</a> 
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>-->
            <ui:repeat value="#{loginBean.listMenu}" var="lev0">
                <li class="menu-list">
                    <a href="#{root}#{lev0.alias}">
                        <i class="lnr lnr-indent-increase"></i> 
                        <span>#{lev0.menuname}</span>  
                    </a> 
                    <h:panelGroup rendered="#{lev0.link=='#' or lev0.link.trim().equalsIgnoreCase('')}">
                        <ul class="sub-menu-list">
                            <ui:repeat value="#{lev0.listMenu}" var="lev1">  
                                <li>
                                    <a href="#{root}#{lev1.alias}">
                                        <i class="lnr lnr-indent-increase"></i> 
                                        <span>#{lev1.menuname}</span>
                                    </a> 
                                    <h:panelGroup rendered="#{lev1.link=='#' or lev1.link.trim().equalsIgnoreCase('')}">
                                        <ul class="sub-menu-list">
                                            <ui:repeat value="#{lev1.listMenu}" var="lev2">  
                                                <li>
                                                    <a href="#{root}#{lev2.alias}">
                                                        <i class="lnr lnr-indent-increase"></i> 
                                                        <span>#{lev2.menuname}</span>
                                                    </a> 
                                                </li>        
                                            </ui:repeat> 
                                        </ul>
                                    </h:panelGroup>
                                </li>        
                            </ui:repeat> 
                        </ul>
                    </h:panelGroup>
                </li>        
            </ui:repeat>
            <li><a href="codes.html"><i class="lnr lnr-pencil"></i> <span>Typography</span></a></li>
            <li><a href="media.html"><i class="lnr lnr-select"></i> <span>Media Css</span></a></li>
            <li class="menu-list"><a href="#"><i class="lnr lnr-book"></i>  <span>Pages</span></a> 
                <ul class="sub-menu-list">
                    <li><a href="sign-in.html">Sign In</a> </li>
                    <li><a href="sign-up.html">Sign Up</a></li>
                    <li><a href="blank_page.html">Blank Page</a></li>
                </ul>
            </li>
        </ul>
        <!--sidebar nav end-->
    </div>
</ui:composition>