<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!--    <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet name="./css/default.css"/>
            <h:outputStylesheet name="./css/cssLayout.css"/>
            <title>Facelets Template</title>
        </h:head>-->

    <h:head>
        <title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <ui:param name="root" value="#{facesContext.externalContext.requestContextPath}"/>

        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <!-- Bootstrap Core CSS -->
        <h:outputStylesheet name="bootstrap.min.css" library="css"/>
        <!--        <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />-->
        <!-- Custom CSS -->
        <h:outputStylesheet name="style.css" library="css"/>
        <!--        <link href="css/style.css" rel='stylesheet' type='text/css' />-->
        <!-- Graph CSS -->
        <h:outputStylesheet name="font-awesome.css" library="css"/>
        <!--        <link href="css/font-awesome.css" rel="stylesheet"/> -->
        <!-- jQuery -->
        <!-- lined-icons -->
        <h:outputStylesheet name="icon-font.min.css" library="css"/>
        <!--        <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />-->
        <!-- //lined-icons -->
        <!-- chart -->
        <!--        <h:outputScript library="js" name="hello.js" />-->
        <!--        <script src="js/Chart.js"></script>-->
        <!-- //chart -->
        <!--animate-->
        <h:outputStylesheet name="animate.css" library="css"/>
        <!--        <link href="css/animate.css" rel="stylesheet" type="text/css" media="all"/>-->
        <h:outputScript library="js" name="wow.min.js" />
        <!--<script src="js/wow.min.js"></script>-->
        <script>
            new WOW().init();
        </script>
        <!--//end-animate-->
        <h:link type="css" />
        <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'/>

        <!-- Meters graphs -->
        <!--        <h:outputScript library="js" name="jquery-2.2.1.min.js" />-->
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
        <!--        <script src="js/jquery-1.10.2.min.js"></script>-->
        <!-- Placed js at the end of the document so the pages load faster -->

        <f:metadata>
            <f:event listener="#{loginBean.verifyUserLogin}" type="preRenderView"/>
        </f:metadata>   

    </h:head> 

    <!--    <h:body>
    
            <div id="top" class="top">
                <ui:insert name="top">Top</ui:insert>
            </div>
    
            <div id="content" class="center_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
    
        </h:body>-->

    <h:body class="sticky-header left-side-collapsed"  onload="initMap()">
        <section>
            <!-- left side start-->
            <div class="left-side sticky-left-side">

                <!--logo and iconic logo start-->
                <div class="logo">
                    <h1><a href="index.xhtml"><span>Admin</span></a></h1>
                </div>
                <div class="logo-icon text-center">
                    <a href="index.xhtml"><i class="lnr lnr-home"></i> </a>
                </div>

                <!--logo and iconic logo end-->
                <ui:include src="sidebar.xhtml"/>                
            </div>
            <!-- left side end-->

            <!-- main content start-->
            <div class="main-content">
                <!-- header-starts -->
                <div class="header-section">

                    <!--toggle button start-->
                    <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
                    <!--toggle button end-->

                    <!--notification menu start -->
                    <div class="menu-right">
                        <div class="user-panel-top">  	
                            <div class="profile_details_left">
                                <ul class="nofitications-dropdown">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="notification_header">
                                                    <h3>You have 3 new messages</h3>
                                                </div>
                                            </li>
                                            <li><a href="#">
                                                    <div class="user_img"><img src="images/1.png" alt=""/></div>
                                                    <div class="notification_desc">
                                                        <p>Lorem ipsum dolor sit amet</p>
                                                        <p><span>1 hour ago</span></p>
                                                    </div>
                                                    <div class="clearfix"></div>	
                                                </a></li>
                                            <li class="odd"><a href="#">
                                                    <div class="user_img"><img src="images/1.png" alt=""/></div>
                                                    <div class="notification_desc">
                                                        <p>Lorem ipsum dolor sit amet </p>
                                                        <p><span>1 hour ago</span></p>
                                                    </div>
                                                    <div class="clearfix"></div>	
                                                </a></li>
                                            <li><a href="#">
                                                    <div class="user_img"><img src="images/1.png" alt=""/></div>
                                                    <div class="notification_desc">
                                                        <p>Lorem ipsum dolor sit amet </p>
                                                        <p><span>1 hour ago</span></p>
                                                    </div>
                                                    <div class="clearfix"></div>	
                                                </a></li>
                                            <li>
                                                <div class="notification_bottom">
                                                    <a href="#">See all messages</a>
                                                </div> 
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="login_box" id="loginContainer">
                                        <div class="search-box">
                                            <div id="sb-search" class="sb-search">
                                                <form>
                                                    <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search"/>
                                                    <input class="sb-search-submit" type="submit" value=""/>
                                                    <span class="sb-icon-search"> </span>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- search-scripts -->
                                        <h:outputScript library="js" name="classie.js" />
                                        <h:outputScript library="js" name="uisearch.js" />
                                        <!--                                        <script src="js/classie.js"></script>
                                                                                <script src="js/uisearch.js"></script>-->
                                        <script>
                                            new UISearch(document.getElementById('sb-search'));
                                        </script>
                                        <!-- //search-scripts -->
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="notification_header">
                                                    <h3>You have 3 new notification</h3>
                                                </div>
                                            </li>
                                            <li><a href="#">
                                                    <div class="user_img"><img src="images/1.png" alt=""/></div>
                                                    <div class="notification_desc">
                                                        <p>Lorem ipsum dolor sit amet</p>
                                                        <p><span>1 hour ago</span></p>
                                                    </div>
                                                    <div class="clearfix"></div>	
                                                </a></li>
                                            <li class="odd"><a href="#">
                                                    <div class="user_img"><img src="images/1.png" alt=""/></div>
                                                    <div class="notification_desc">
                                                        <p>Lorem ipsum dolor sit amet </p>
                                                        <p><span>1 hour ago</span></p>
                                                    </div>
                                                    <div class="clearfix"></div>	
                                                </a></li>
                                            <li><a href="#">
                                                    <div class="user_img"><img src="images/1.png" alt=""/></div>
                                                    <div class="notification_desc">
                                                        <p>Lorem ipsum dolor sit amet </p>
                                                        <p><span>1 hour ago</span></p>
                                                    </div>
                                                    <div class="clearfix"></div>	
                                                </a></li>
                                            <li>
                                                <div class="notification_bottom">
                                                    <a href="#">See all notification</a>
                                                </div> 
                                            </li>
                                        </ul>
                                    </li>	
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">22</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="notification_header">
                                                    <h3>You have 8 pending task</h3>
                                                </div>
                                            </li>
                                            <li><a href="#">
                                                    <div class="task-info">
                                                        <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                                        <div class="clearfix"></div>	
                                                    </div>
                                                    <div class="progress progress-striped active">
                                                        <div class="bar yellow" style="width:40%;"></div>
                                                    </div>
                                                </a></li>
                                            <li><a href="#">
                                                    <div class="task-info">
                                                        <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                                        <div class="clearfix"></div>	
                                                    </div>

                                                    <div class="progress progress-striped active">
                                                        <div class="bar green" style="width:90%;"></div>
                                                    </div>
                                                </a></li>
                                            <li><a href="#">
                                                    <div class="task-info">
                                                        <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                                        <div class="clearfix"></div>	
                                                    </div>
                                                    <div class="progress progress-striped active">
                                                        <div class="bar red" style="width: 33%;"></div>
                                                    </div>
                                                </a></li>
                                            <li><a href="#">
                                                    <div class="task-info">
                                                        <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                                        <div class="clearfix"></div>	
                                                    </div>
                                                    <div class="progress progress-striped active">
                                                        <div class="bar  blue" style="width: 80%;"></div>
                                                    </div>
                                                </a></li>
                                            <li>
                                                <div class="notification_bottom">
                                                    <a href="#">See all pending task</a>
                                                </div> 
                                            </li>
                                        </ul>
                                    </li>		   							   		
                                    <div class="clearfix"></div>	
                                </ul>
                            </div>
                            <div class="profile_details">	
                                <h:form>
                                    <ul>
                                        <li class="dropdown profile_details_drop">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <div class="profile_img">	
                                                    <span style="background:url(resources/images/1.jpg) no-repeat center"> </span> 
                                                    <div class="user-name">
                                                        <p>Michael<span>Administrator</span></p>
                                                    </div>
                                                    <i class="lnr lnr-chevron-down"></i>
                                                    <i class="lnr lnr-chevron-up"></i>
                                                    <div class="clearfix"></div>	
                                                </div>	
                                            </a>
                                            <ul class="dropdown-menu drp-mnu">
                                                <h:panelGroup class="dropdown-toggle">
                                                    <h:commandButton class="btn btn-primary" action="#{loginBean.doLogout()}" value="Logout"/>
                                                </h:panelGroup>
                                            </ul>
                                        </li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </h:form>
                            </div>		


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--notification menu end -->
                </div>
                <!-- //header-ends -->
                <div id="page-wrapper">
                    <ui:insert name="content">Content</ui:insert>                               
                </div>
                <!--body wrapper end-->        
            </div>
            <!--footer section start-->


            <footer>
                <p>copy 2015 Easy Admin Panel. All Rights Reserved  Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
            </footer>
            <!--footer section end-->

            <!-- main content end-->
        </section>
        <h:outputScript library="js" name="jquery.nicescroll.js" />
        <h:outputScript library="js" name="scripts.js" />
        <h:outputScript library="js" name="bootstrap.min.js" />
        <!--        <script src="js/jquery.nicescroll.js"></script>
                <script src="js/scripts.js"></script>
                 Bootstrap Core JavaScript 
                <script src="js/bootstrap.min.js"></script>-->
    </h:body>

</html>
